*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,
body{
    height: 100%;
    width: 100%;
   
}
body{
    background-color: lightgreen;
    display: flex;
   
   
}

body{
    background-color: bisque;
}

#container{
    height: 200px;
    width: 100%;
    background-color:  burlywood;
     align-items: center;
}
#container img
{
    height: 200px;
    width: 200px;
    top: 0;
    left: 0;
    border: 10px solid burlywood;
    border-radius: 5px;
    position: absolute;
   
}

#container h1{
    text-align: center;
    margin-top: 40px;
    align-items: center;
    font:icon;
    font-size: 100px;
    border: 10px;
    
}

#container h6{
   text-align: center;
    margin-top: 1px;
    align-items: center;
    font:oblique;
    font-size: 20px;
    border: 10px;
    }
    




